@import "tailwindcss";

@theme {
    --color-primary: #ff6a6a;
    --color-primary-light: #fff6f6;
    --color-primary-dark: #320000;

    --breakpoint-mobile: 480px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1281px;
}

body {
  font-synthesis: none;
}